.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  height: 80px;
  width: 80px;
  line-height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #538fbe;
  margin: 5px;

  
}
.status {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
.square:focus {
  outline: none;
  
}
.square:hover{
  background: rgb(0, 68, 255);
}
.square--winning{
  color: orange;
}
.board-row::after{
  clear: both;
  content: "";
  display: table;
}
.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.restartBtn{
  width: 250px;
  height: 40px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 10px;
  display: block;
  
}
.moveBtn{
  height: 25px;
  width: 130px;
  margin-top: 10px;
  margin-left: 10px;
}
.moveBtn:hover{
  background-color: aquamarine;
}